<!-- Written by Thomas Brower -->

<ion-view view-title="Details" class="grad" ng-init="artistload()">
<ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{item.tracks[0].album.images[0].url}}" ng-show="platform != 'android'">
    <img ng-src="{{item.tracks[0].album.images[2].url}}" ng-show="platform == 'android'">
    <h1> {{item.tracks[0].artists[0].name}} </h1>
  </div>

  <div class="item item-image">
    <img ng-src="{{item.tracks[0].album.images[0].url}}" ng-show="platform != 'android'">
    <img ng-src="{{item.tracks[0].album.images[2].url}}" ng-show="platform == 'android'">
  </div>
</div>

<div class="list">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="thing in item.tracks" class="list card" ng-href="#/app/{{pId}}/search/info/{{thing.id}}">
                <div class="item item-avatar" >
                    <img ng-src="{{thing.album.images[0].url}}">
                    <h2> {{thing.name}} </h2>
                    <p> Album: {{thing.album.name}} </p>
                    <p>Artist: {{thing.artists[0].name}}</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">

                    <a class="tab-item" ng-click="play(thing)">
                        <i class="icon ion-music-note"></i>
                        Play Song
                    </a>
                    <a class="tab-item" ng-click="stop()">
                        <i class="icon ion-pause"></i>
                        Pause
                    </a>

                    <a class="tab-item" ng-click="openSpotify(thing.external_urls.spotify)">
                        <i class="icon ion-share"></i>
                        Open in Spotify
                    </a>
                </div>
            </ion-item>
        </ion-list>


</div>


</ion-content>
</ion-view>
