<!--
Author: Daniel Harper
View: Bracket view with 4 initial players
-->
<link href="../css/style.css" rel="stylesheet">
<ion-view view-title="{{ competition.name}}">
  <ion-content ng-init="console.log('Bracket4');">
      <h1>{{ competition.name }} - Bracket</h1>

      <section id="semiFinals" ng-repeat="playlist in round-1">
          <div>{{ playlist.name }}</div>
      </section>
<!--
      <section id="semiFinals">
          <div>Player 1</div>
          <div>Player 2</div>
          <div>Player 3</div>
          <div>Player 4</div>
      </section>
-->

      <!-- Connector lines from semi-finals to finals -->
      <div class="connecter" id="conn2">
          <div></div>
          <div></div>
      </div>
      <div class="line" id="line2">
          <div></div>
          <div></div>
      </div>

<!--
      <section id="final">
          <div></div>
          <div></div>
      </section>
-->

      <section id="final" ng-repeat=playlist in round-2">
          <div>{{ playlist.name }}</div>
      </section>

      <!-- Connector lines from finals to winner -->
      <div class="connecter" id="conn3">
          <div></div>
      </div>
      <div class="line" id="line3">
          <div></div>
      </div>

<!--
      <section id="winner">
          <div><div>
      </section>
-->
      <section id="winner" ng-repeat="playlist in round-3">
          <div>{{ playlist.name }}</div>
      </section>
  </ion-content>
</ion-view>
