<!--
Author: Daniel Harper
View: Bracket view with 4 initial players
-->
<ion-view view-title="{{ competitionName}}">
  <ion-content ng-init="load()" class="grad">
      <div class="width">
          <h3>{{ competitionName }} - Bracket</h3>

          <!-- Semi-finals Round -->
          <section id="semiFinals">
              <div ng-repeat="competitor in round1" ng-href="#/app/playlist/{{playlist.id}}">{{ competitor.name }}"</div>
          </section>
          <!-- Connector lines from semi-finals to finals -->
          <div class="connecter" id="conn2">
              <div></div>
              <div></div>
          </div>
          <div class="line" id="line2">
              <div></div>
              <div></div>
          </div>

          <!-- Final Round -->
          <section id="final" >
              <div ng-repeat="competitor in round2" ng-href="#/app/playlist/{{playlist.id}}">{{ competitor.name }}</div>
          </section>
          <!-- Connector lines from finals to winner -->
          <div class="connecter" id="conn3">
              <div></div>
          </div>
          <div class="line" id="line3">
              <div></div>
          </div>

          <!-- Final Winner -->
          <section id="winner" >
              <div ng-repeat="competitor in round3">{{ competitor.name }}</div>
          </section>
      </div>
  </ion-content>
</ion-view>
