<ion-view view-title="Login" ng-class="{'loginAndroid' : isAndroid == true || isIos == true, 'loginBrowser' : platform != 'android' && platform != 'ios'}">
    <ion-header-bar class="bar bar-header bar-royal">
        <h4 class="title">FantasyDJ</h4>
    </ion-header-bar>
    <ion-content>

        <button ng-class="{ 'button button-block button-balanced': platform != 'android' && platform != 'ios', 'hidden': isAndroid == true || isIos == true }" ng-click="performLogin()" >
            <div class="title">
                Login With Spotify
            </div>
        </button>
        <button ng-class="{ 'button button-block button-balanced': isAndroid == true || isIos == true, 'hidden': platform != 'android' && platform != 'ios' }" ng-click="mobileLogin()">
            <div class="title">
                Login With Spotify
            </div>
        </button>
        <!--<button class="button button-energized" ng-click="printURI()">
  First Token: {{ token }}
</button>-->
        <!-- </button>
       <button class="button button-energized">
  Second Token: {{ secToken }}
</button>-->

    </ion-content>
</ion-view>
