<ion-view view-title="Login" ng-class="{'loginAndroid' : platform == 'android', 'loginBrowser' : platform != 'android'}">
  <ion-content>
      <a ng-class="{ 'bar bar-footer bar-balanced' : platform == 'android', 'button button-large button-balanced' : platform != 'android' }" type="submit" ng-click="performLogin()" >
          <div class="title">Login With Spotify</div>
      </a>
      </div>
      <button class="button button-energized" ng-click="mobileLogin()">
          login with cordova Oauth
      </button>
      <!--<button class="button button-energized" ng-click="printURI()">
  First Token: {{ token }}
</button>-->
      <!-- </button>
       <button class="button button-energized">
  Second Token: {{ secToken }}
</button>-->

      <div><p>playlists</p></div>

  </ion-content>
</ion-view>
