<ion-view view-title="My Leagues">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="item-thumbnail-left" ng-repeat="playlist in playlists" ng-href="#/app/playlist/{{playlist.id}}">
          <img ng-src="{{playlist.images[0].url}}">
          <h2>{{playlist.name}}</h2>
      </ion-item>
      <div>

      <div class="bar bar-header">
        <h1 class="title">Leagues</h1>
        <button class="button button-balanced" ng-click=getNewName()>Create Playlist</button>
      </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
