<!-- Written by Thomas Brower -->
<ion-view view-title="Create New League">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">League Name</span>
                <input type="text" placeholder="Hiphop Heads" ng-model="newLeague.compName">
            </label>
            <label   <label class="item item-input item-select" >
            <div class="input-label">
                Number of Players
            </div>
            <select ng-model="newLeague.numPlayers">

                <option selected>4</option>

            </select>
            </label>
            <label>
                <ion-checkbox ng-model="newLeague.filter" >Compete in Competition?</ion-checkbox>
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="addLeague(newLeague)">
            Create New League
        </button>
        <p>Leagues end one (1) week after creation</p>
  </ion-content>
</ion-view>
