<ion-view view-title="Playlists" ng-init="load()">
    <base href="/app/playlists">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="item-thumbnail-left" ng-repeat="playlist in playlists" ng-href="#/app/playlist/{{playlist.id}}">
          <img ng-src="{{playlist.images[0].url}}">
          <h2>{{playlist.name}}</h2>
          <ion-option-button class="button-positive"
                       ng-click="share()">
      Share
    </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!--$scope.songs = [
     {
        "title":"Stealing Cinderella",
        "artist":"Chuck Wicks",
        "image_small":"https://i.scdn.co/image/d1f58701179fe768cff26a77a46c56f291343d68",
        "image_large":"https://i.scdn.co/image/9ce5ea93acd3048312978d1eb5f6d297ff93375d"
     },
     {
        "title":"Venom - Original Mix",
        "artist":"Ziggy",
        "image_small":"https://i.scdn.co/image/1a4ba26961c4606c316e10d5d3d20b736e3e7d27",
        "image_large":"https://i.scdn.co/image/91a396948e8fc2cf170c781c93dd08b866812f3a"
     },
     {
        "title":"Do It",
        "artist":"Rootkit",
        "image_small":"https://i.scdn.co/image/398df9a33a6019c0e95e3be05fbaf19be0e91138",
        "image_large":"https://i.scdn.co/image/4e47ee3f6214fabbbed2092a21e62ee2a830058a"
     }
-->
