<!-- Written by Thomas Brower -->

<ion-view view-title="Track List" >
  <ion-content>
<h2> Track list </h2>

<div class="list">

  <div ng-show="isTrack" class="item item-divider">
   Tracks
  </div>


<ion-list can-swipe="true">
  <ion-item class="item-thumbnail-left" ng-repeat="item in returnDataTracks" ng-href="#/app/search/info/{{item.id}}">
      <img ng-src="{{item.album.images[1].url}}" ng-show="platform != 'android'">
      <img ng-src="{{item.album.images[0].url}}" ng-show="platform == 'android'">

      <h2>{{item.name}}</h2>
      <h2>Content Type: {{item.type}}</h2>
      <h2>Popularity: {{item.popularity}}</h2>
     <h2>Genre: <span ng-repeat="genre in item.genres">  {{genre}}, </span> </h2>

  </ion-item>

</ion-list>  


</ion-content>
</ion-view>