/* Empty. Add your own CSS if you like */
.accountInfo{
  color:#ffffff;
  padding-left:5px;
}

ul{
  list-style-type: none;
  list-style-image: none;
}

#grad{
  /* For browsers that do not support gradients */
  background-position: #000000;
  background: -webkit-linear-gradient(left, #0A1215 , #1a102a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #0A1215 , #1a102a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #0A1215 , #1a102a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #0A1215 , #1a102a); /* Standard syntax */
}
.loginAndroid {
  background: url('../img/loginBackground.jpg') no-repeat center;
  background-size:100% 100%;
}
.loginBrowser {
  background: url('../img/desktopBack.jpg') no-repeat center;
  background-size:100% 100%;
}

.profile_pic {
  text-align: center;
  border-radius: 100px;
  background: #886aea;
  padding: 0px;
  width: 100px;
  height: 100px;
}
/*Bracket CSS*/


section {
    width: 250px;
    height: 520px;
    float: left;
}

section > div {
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    margin: 10px 0;
    background: #73789F;
    color: white;
    padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) {
    margin-bottom: 40px;
}

.connecter {
    width: 30px;
    height: 520px;
    float: left;
}

.line {
    width: 30px;
    height: 520px;
    float: left;
}

.connecter div {
    border: 1px solid #000;
    border-left: none;
    height: 50px;
    width: 100%;
    margin: 80px 0 0 1px;
}

.connecter div:first-child {
    margin: 32px 0 0 1px;
}

.line div {
    border-top: 1px solid #000;
    margin: 133px 0 0 1px;
}

.line div:first-child {
    margin-top: 55px;
}

#semiFinals > div {
    margin-top: 91px;
}

#semiFinals > div:first-child {
    margin-top: 37px;
}

#conn2 div {
    margin-top: 133px;
    height: 133px;
}

#conn2 div:first-child {
    margin-top: 57px;
}

#line2 div {
    margin-top: 270px;
}

#line2 div:first-child {
    margin-top: 125px;
}
#final > div {
    margin-top: 230px;
}
#final > div:first-child {
    margin-top: 105px;
}
#conn3 div {
    margin-top: 125px;
    height: 270px;
}

#line3 div {
    margin-top: 270px;
}

#winner > div {
    margin-top: 250px;
}
